#cont{
    padding-left: 130px;
}
.all{
    width: 300px;
    height: 300px;
}

@media(min-width:0px) and (max-width:480px){
    .all{
        width: 200px;
        height: 200px;
    }
    #cont{
        padding: 50px;
    }

}
@media(min-width:481px) and (max-width:768px){
    width: 250px;
    height: 250px;
padding-left: 50px;